# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
# Environment variables
.env
.env.*
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
allfileshas.txt
downloads_blog_images/e2b488_4b648b736c664d9ab8e89983d5ae535f~mv2.jpeg
downloads_blog_images/e2b488_4cdcadad3035439db8ea3d5121341360~mv2.jpeg
downloads_blog_images/e2b488_5c593bb0311745b0b51ed53af7bcf356~mv2.jpeg
downloads_blog_images/e2b488_6d730560319a4de288dd4ff0ac686019~mv2.jpg
downloads_blog_images/e2b488_8e3cfbf6405f43bf96e6705ca842dea8~mv2.jpg
downloads_blog_images/e2b488_9a908e85e3d147109b07b47c4beac1b0~mv2.jpg
downloads_blog_images/e2b488_18e3245941ad43cb81e0356737d1810a~mv2.jpg
downloads_blog_images/e2b488_85ba4c46346347c1afd4276bd8b9ff5f~mv2.jpg
downloads_blog_images/e2b488_a6ab836960bc45ac990e16c526ab94ac~mv2.jpg
downloads_blog_images/e2b488_ef42cf4ac7304a80919d75ed14753f89~mv2.jpg
downloads_material_tecnico/atas-do-condema.pdf
downloads_material_tecnico/cartilha-arvores-raras-na-paisagem.pdf
downloads_material_tecnico/dados-secundarios-de-especies-de-fauna-e-flora.pdf
downloads_material_tecnico/folder-arvores-raras-na-paisagem.pdf
downloads_material_tecnico/guia-das-trilhas-interpretativas-ambientais.pdf
downloads_material_tecnico/informativo-fauna-ameacada.pdf
downloads_material_tecnico/informativo-refugio-de-vida-silvestre-do-bicudinho.pdf
downloads_material_tecnico/material_arvores-raras-na-paisagem.jpg
downloads_material_tecnico/material_guia-das-trilhas-interpretativas---viveiro-municipal.jpg
downloads_material_tecnico/material_plano-de-manejo---refugio-de-vida-silvestre-do-bicudinho.jpg
downloads_material_tecnico/material_planos-municipais-da-mata-atlantica-pmma.jpg
downloads_material_tecnico/material_relatorio-de-fauna-silvestre---rvs-do-bicudinho.jpg
downloads_material_tecnico/plano-de-manejo---documento-final.pdf
downloads_material_tecnico/plano-de-trabalho.pdf
downloads_material_tecnico/pmma-guararemasp.pdf
downloads_material_tecnico/pmma-jacareisp.pdf
downloads_material_tecnico/pmma-salesopolissp.pdf
downloads_material_tecnico/pmma-santa-brancasp.pdf
downloads_material_tecnico/relatorio-da-oficina-de-diagnostico.pdf
downloads_material_tecnico/relatorio-da-oficina-de-programas-de-gestao.pdf
downloads_material_tecnico/relatorio-da-oficina-de-zoneamento.pdf
downloads_material_tecnico/relatorio-levantamento-preliminar-da-fauna-silvestre.pdf
downloads_noticias_covers/noticia_condemat-participa-de-apl-para-fortalecer-cadeia-produtiva-do-mel-na-regiao.jpeg
downloads_noticias_covers/noticia_conferencia-debate-transformacao-ecologica-e-elege-representante-para-etapa-esta.jpg
downloads_noticias_covers/noticia_conheca-as-organizacoes-dos-grupos-de-trabalho-do-planos-da-mata-atlantica.png
downloads_noticias_covers/noticia_educacao-ambiental-em-pauta-nas-escolas-de-jacarei.jpg
downloads_noticias_covers/noticia_encontro-no-parque-municipal-debate-acoes-conjuntas-para-unidades-de-conservacao.jpg
downloads_noticias_covers/noticia_instituto-suina-participa-da-oficina-final-do-projeto-planos-da-mata.png
downloads_noticias_covers/noticia_jacarei-aprova-plano-para-recuperar-mata-atlantica.jpg
downloads_noticias_covers/noticia_jacarei-recebe-exposicao-que-retrata-trabalho-de-mulheres-na-pandemia.jpg
downloads_noticias_covers/noticia_junho-ambiental-tem-balanco-positivo-com-parcerias-firmadas-e-boa-participacao-d.jpg
downloads_noticias_covers/noticia_junho-ecosustentavel-realiza-palestra-sobre-compostagem-domestica-no-viveiro-de-.jpg
downloads_noticias_covers/noticia_nj-conselho-do-meio-ambiente-aprova-plano-municipal-da-mata-atlantica.jpg
downloads_noticias_covers/noticia_nj-plano-municipal-de-conservacao-e-recuperacao-da-mata-atlantica.jpg
downloads_noticias_covers/noticia_nj-programa-renascentes---jacarei.jpg
downloads_noticias_covers/noticia_nucleo-de-educacao-ambiental-de-jacarei-divulga-guia-com-as-trilhas-ambientais-d.jpg
downloads_noticias_covers/noticia_passeio-guiado-permite-observar-aves-no-jardim-botanico-de-santos.jpg
downloads_noticias_covers/noticia_plano-municipal-da-mata-atlantica-de-jacarei-e-tema-de-audiencia.jpg
downloads_noticias_covers/noticia_podcast-cafe-com-will-recebe-a-biologa-fernanda-scalambrino.jpg
downloads_noticias_covers/noticia_projeto-de-restauracao-ecologica-e-deliberado-em-jacarei.jpg
downloads_noticias_covers/noticia_projeto-viver-o-viveiro-uma-aventura-em-meio-a-natureza-quarta-show.jpg
downloads_noticias_covers/noticia_reportagem-band-vale-projeto-viver-o-viveiro-promove-conexao-com-a-natureza.jpg
downloads_noticias_covers/noticia_reportagem-th-noticias-programa-de-restauracao-ecologica.jpg
downloads_noticias_covers/noticia_reportagem-tv-camera-jacarei-programa-de-restauracao-ecologica.jpg
downloads_noticias_covers/noticia_reportagem-tv-camera-jacarei-programa-jovens-observadores.jpg
downloads_noticias_covers/noticia_reuniao-aberta-ao-publico-apresenta-plano-municipal-da-mata-atlantica.jpeg
downloads_noticias_covers/noticia_secretaria-de-meio-ambiente-de-jacarei-valida-plano-municipal-da-mata-atlantica.jpg
downloads_noticias_covers/noticia_suzano-apoia-exposicao-fotografica-pandemina-em-jacarei.jpg
downloads_noticias_covers/noticia_viveiro-municipal-de-jacarei-passa-a-abrir-todo-domingo.jpg
downloads_noticias_covers/noticia_viveiro-municipal-de-jacarei-tem-portas-abertas-todos-os-domingos-com-programaca.jpg
downloads_noticias_covers/noticia_viver-o-viveiro-publico-aprova-abertura-do-viveiro-municipal-aos-domingos-em-jac.jpg
downloads_projetos/e2b488_1c4079d098de4c53a8a4bbabc84e4660~mv2.png
downloads_projetos/e2b488_2c06a8cf47164dd99ae4d315d57dca9a~mv2.jpg
downloads_projetos/e2b488_2c69eae0ea7d43149baf5b58f3b39156~mv2.jpg
downloads_projetos/e2b488_3ef66aff7bbf4faea69ceba4345a83aa~mv2.jpg
downloads_projetos/e2b488_4bc9d966db5045a89f827b86a1330a17~mv2.jpg
downloads_projetos/e2b488_7ce116c1e4484c2a81f4643b3aff50cf~mv2.png
downloads_projetos/e2b488_8ccef27f6dc9428999a3924cf86c7334~mv2.jpg
downloads_projetos/e2b488_56b963366b5f4f4f916fc0b1c8ef7aee~mv2.jpg
downloads_projetos/e2b488_66a834a1404f4a3dbe1af6b2c57b81e3~mv2.jpeg
downloads_projetos/e2b488_69de16c0a2264e57bd61d51427529fcb~mv2.jpg
downloads_projetos/e2b488_253bb5a9f1ec4f4db45e315fdb9875dc~mv2.jpg
downloads_projetos/e2b488_0327c5a2084544d88a873249557a30b2~mv2.png
downloads_projetos/e2b488_406ae3d384bd48d2aaf99b9047aa6862~mv2.png
downloads_projetos/e2b488_406ffff7405849a0a2b3f33036b64263~mv2.jpeg
downloads_projetos/e2b488_676c9c3c096f475baa78a061a3d7610f~mv2.jpg
downloads_projetos/e2b488_5489bc440b34473e8ca8af9b8b765354~mv2.jpg
downloads_projetos/e2b488_322298feb0114c5698cf75d567056e8d~mv2.jpg
downloads_projetos/e2b488_0801937b5c3e4aceaa477c097cea1710~mv2.png
downloads_projetos/e2b488_a5d57f689d614a6c99e41993e6dfb865~mv2.jpg
downloads_projetos/e2b488_abfdb0fa6b8a4b3b87d5f7c423f28898~mv2.jpg
downloads_projetos/e2b488_b24a79566bee45a6b1579bde220f212d~mv2.jpg
downloads_projetos/e2b488_c2f9497136204d778d4dc4c4239858fa~mv2.jpg
downloads_projetos/e2b488_c750d952f4424dbaabcce5d3cd5e6c69~mv2.jpg
downloads_projetos/e2b488_c899f275a4fe4d1a8cbf0a6e1262315e~mv2.jpg
downloads_projetos/e2b488_d333c16d8db145619c95c5f5bfd7a11a~mv2.jpg
downloads_projetos/e2b488_fca02c7c10604e82bd66d634f7977506~mv2.jpg
downloads_projetos/e2b488_fe6363bd59474cbb9e1ebab74745ed16~mv2.png
downloads_transparencia/edi-o-01-2021.pdf
downloads_transparencia/edi-o-01-2026.pdf
downloads_transparencia/edi-o-02-2021.pdf
downloads_transparencia/edi-o-02-2025.pdf
downloads_transparencia/edi-o-03-2021.pdf
downloads_transparencia/edi-o-04-2021.pdf
downloads_transparencia/edi-o-04-2025.pdf
downloads_transparencia/edi-o-05-2022.pdf
downloads_transparencia/edi-o-05-2024.pdf
downloads_transparencia/edi-o-07-2024.pdf
downloads_transparencia/edi-o-08-2024.pdf
downloads_transparencia/edi-o-08-2025.pdf
downloads_transparencia/edi-o-09-2025.pdf
downloads_transparencia/edi-o-10-2024.pdf
downloads_transparencia/edi-o-10-2025.pdf
downloads_transparencia/edi-o-11-2025.pdf
downloads_transparencia/estatuto-social.pdf
downloads_transparencia/informativos.pdf
downloads_transparencia/manual-suin.pdf
downloads_transparencia/portf-lio-de-atividades.pdf
downloads_transparencia/portf-lio.pdf
downloads_transparencia/presta-o-de-contas-projeto-viver-o-viveiro-2023-2024.pdf
downloads_transparencia/relat-rio-de-atividades-2018.pdf
downloads_transparencia/relat-rio-de-atividades-2019.pdf
downloads_transparencia/relat-rio-de-atividades-2020.pdf
downloads_transparencia/relat-rio-de-atividades-2021.pdf
downloads_transparencia/relat-rio-de-atividades-2022.pdf
downloads_transparencia/relat-rio-de-atividades-2023.pdf
downloads_transparencia/relat-rio-de-atividades-2024.pdf
scratch/find_large_files.py
supabase/migrations/20260507135000_create_site_page_content.sql
